@font-face {
  font-family: 'Google Sans Flex';
  src: url('/fonts/GoogleSansFlex_72pt-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Google Sans Flex';
  src: url('/fonts/GoogleSansFlex_72pt-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Google Sans Flex';
  src: url('/fonts/GoogleSansFlex_72pt-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}